h1{
	font-family: 'Roboto Condensed', sans-serif;
}
h2{
	font-family: 'Roboto Condensed', sans-serif;
}
p{
	font-family: 'Raleway', sans-serif;	
}
body{
	font-family: 'Raleway', sans-serif;
}
.image_div{
	width:100%;
}
.image_box{
	background-image: url("squareborder.svg");
}
.box{
	position: relative;
	width: 100%;
}
.box:before{
	content: "";
	display: block;
	height:0;
	padding-top: 100%;
}
.content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1px solid black;
}
#square{
	width: 100%;
	height: auto;
}