body{
	background-color: #2980b9;
	font-family: Quicksand,serif;
	padding: 0px;
	color: #FFF;
}
input{
	border: 2px solid #1abc9c;
	border-radius: 5px 5px;
	padding: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #1abc9c;
	font-size: 16px;
	float: left;

}
select{
	font-size: 16px;
	margin:5px;
	border: 2px solid #FFF;
	border-radius: 5px 5px;
}
a{
	color: #FFF;
}